@charset "UTF-8";

* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;

    --conteudo-top: -87.8%;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(150, 114, 61);
}

main {
    position: relative;

    height: 100vh;

    background-image: url(../imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
}

section#telefone {
    position: absolute;

    height: 550px;
    width: 280px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

#telefone > img {
    width: 100%;
    height: 100%;
}

div#conteudo {
    position: relative;
    top: var(--conteudo-top);
    left: 7.15%;
    transform: translate(-7.2%, --conteudo-top);

    height: 412px;
    width: 240px;

    /* background-image: url(../imagens/tela-home.jpg);
    background-size: cover; */
    background-color: red;
}

div#conteudo > iframe {
    width: 240px;
    height: 412px;

    border: 0;
}

section#redes-sociais {
    position: absolute;

    left: 100%;

    transform: translate(-100%);

    width: 60px;
    height: 450px;

    text-align: center;

    padding: 10px 5px;

}

#redes-sociais  img {
    margin-bottom: 20px;

    border-radius: 50%;
    
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);

    box-sizing: border-box;
}

#redes-sociais  img:hover {
    margin-right: 12px;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);

    transition-duration: 0.2s;
}

section#redes-sociais img:active {
    transform: scale(95%);
}